@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --customBlue: #2691C2;
  --customOrange: #ec943c;
  --deepBlue: #22334a;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Tajawal', sans-serif;
  direction: rtl;
  background-color: #ffffff;
  margin: 0;
}

a {
  text-decoration: none;
}
